@use './variable' as *;

#app_navbar {
    ul {
        line-height: 120px;

        :hover {
            color: $bg-main;
            border-bottom: 3px solid $bg-main;
        }

        path {
            color: $bg-main
        }
    }

    .small {
        background-color: $bg-main;
        height: 30px;
    }

    .searching {
        margin-right: 30px;

        path {
            color: black;
        }
    }
}